*{
	padding: 0;
	margin: 0;
	user-select: none;
	-moz-user-select: none;
}

#wrapper{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: black;
}

#content{
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 20px;
	color: white;
}

#header{
	text-align: center;
	margin-bottom: 24px;
}

#nav{
	padding-left: 40px;
	color: white;
}

nav ul li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

a:hover{
	background-color: red;
}
